server/data/videos/
server/data/demo_data
server/results/
server/nfl_blitz_updated_tags_tracked.mp4
.DS_Store
__pycache__/
*.pyc
node_modules/
WRITEUP.md
WRITEUP - copy.md
server/writeup.md
ok-the-writeup-is-bright-bee.md
